.main {
  background-image: url('../../assets/images/head_background.png');
  background-repeat: no-repeat;
  background-size: 2550px;
}

.introduction {
  padding: 200px 176px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.sitename {
  height: 200px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.name {
  font-family: 'e-Ukraine-Head-Bold';
  font-size: 80px;
  color: var(--light-heading-color);
}

.whiteLine {
  width: 100%;
  margin-top: -80px;
  height: 6px;
  background-color: var(--light-heading-color);
}

.goal {
  margin: 0;
  width: 800px;
  margin-top: -20px;
  text-align: center;
  font-family: 'e-Ukraine-Light';
  font-size: 24px;
  line-height: 1.7em;
  color: var(--light-text-color);
}

.arrows {
  display: flex;
  gap: 20px;
}

.rating {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 80px 240px;
  background-color: var(--light-text-color);
}

.rating-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  text-decoration: none;
}
