.rc-pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.rc-pagination-item {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  font-size: 14px;
  transition: background-color 0.3s;
  border: none;
  background: transparent;
  font-family: 'e-Ukraine-Head-Bold';
  font-size: 20px;
}

.rc-pagination-item:hover a {
  color: var(--selected-color);
}
.rc-pagination-item-active:focus a {
  color: white;
}

.rc-pagination-item-active {
  background-color: var(--selected-color);
  color: black;
}
.rc-pagination-item-active:hover a {
  color: white;
}

.rc-pagination-item-active a {
  color: white;
}

.rc-pagination-prev {
  display: none;
}

.rc-pagination-next .rc-pagination-item-link {
  border: none;
  background: transparent;
}
.rc-pagination-next:hover .rc-pagination-item-link {
  border: none;
  color: var(--selected-color);
}

.rc-pagination-next .rc-pagination-item-link::after {
  content: 'Далі →';
  font-family: 'e-Ukraine-Head-Bold';
  font-size: 20px;
  margin-left: 30px;
}

.rc-pagination-disabled:hover .rc-pagination-item-link {
  cursor: not-allowed;
  color: #bfbfbf;
}
