.main {
  background-image: url('../../assets/images/background.png');
}

.person {
  padding: 200px 176px;
  display: flex;
  align-items: center;
  gap: 60px;
}

.personPhoto {
  img {
    width: 559px;
    height: 731px;
  }
}

.info {
  //background-image: url('../../assets/images/інформація.png');
  background-color: white;
  width: 900px;
  height: 731px;
}

.personName {
  font-family: 'e-Ukraine-Head-Bold';
  font-size: 80px;
  padding-left: 30px;
  padding-bottom: 0.5px;
}

.personInfo {
  font-family: 'e-Ukraine-Light';
  //padding-bottom: 30px;
  padding-left: 30px;
  font-size: 25px;
  line-height: 40px;
}

.party {
  display: flex;
  background-color: whitesmoke;
  width: 300px;
  height: 60px;
}

.party-logo {
  width: 18px;
  height: 18px;
}