.footer {
  height: 204px;
  gap: 100px;
  padding: 0 240px;
  background-color: var(--background-color);
}

.links {
  display: flex;
  width: 100%;
  padding-top: 10px;
}

.text {
  padding: 40px;
  font-family: 'e-Ukraine-Head-Bold';
  font-size: 24px;
  color: var(--light-text-color);
}

.link {
  padding: 46px;
  padding-inline: 13px;
  font-family: 'e-Ukraine-Regular';
  font-size: 20px;
  color: var(--light-text-color);
  text-decoration: none;
}

.link:hover {
  color: var(--selected-color);
}

.terms {
  display: flex;
  align-self: center;
  justify-content: flex-end;
  width: 100%;
  font-family: 'e-Ukraine-Regular';
  font-size: 16px;
  color: var(--light-text-color);
}

.info {
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 100%;
  font-family: 'e-Ukraine-Bold';
  font-size: 16px;
  color: var(--light-text-color);
}
